{
    "root": true,
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "plugins": ["vue"],
    "extends": ["elemefe", "plugin:vue/recommended"],
    "env": {
        "es6": true
    },
    "rules": {
        "no-debugger": [1],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "radix": ["error", "as-needed"],
        "vue/html-indent": ["error", 4, {
            "attribute": 1,
            "closeBracket": 0,
            "alignAttributesVertically": true,
            "ignores": []
        }],
        "vue/html-closing-bracket-newline": ["error", {
            "singleline": "never",
            "multiline": "never"
          }],
          "vue/html-closing-bracket-spacing": ["error", {
            "startTag": "never",
            "endTag": "never",
            "selfClosingTag": "never"
          }],
        "vue/require-default-prop": "off",
        "vue/require-v-for-key": "off",
        "vue/no-confusing-v-for-v-if": "off",
        "vue/require-prop-types": "off"
        
    },
    "globals": {
        "_": true,
        "$": true,
        "echarts": true,
        "Promise": true
    }
}
